@using BlazorEventAggregator.Client.Services;
@inherits LayoutComponentBase
@inject EventAggregatorService eventAggregatorService

<main>
    <CascadingValue Value="@ActualDateTime">
        @Body
    </CascadingValue>
</main>
